body {
  background-image: url(2.jpg);
  background-size: cover;
}

header {
  background-color: rgba(73, 108, 221, 0.842);
  padding-bottom: 20px;
  border-bottom: darkblue 10px solid;
}

header h1 {
  font-weight: bold;
}

header h3 {
  font-weight: lighter;
}

header center {
  padding: 0.2pc;
}

header main {
  color: chartreuse;
}

#pro {
  background-color: rgba(165, 42, 42, 0.842);
}

#t1 {
  padding: 15px;
}
